@page "/"

<div class="container">
    <h1>Welcome!</h1>
    <p>This is a project where I demonstrate my ability to consume public APIs and display data.</p>
    <p>I am utilizing the SWAPI API to retrieve data RESTfully.</p>
    <img src="SWAPI.png" alt="SWAPI" style="width:inherit" />
</div>
