@page "/"

<div class="container">
    <h1>Welcome!</h1>
    <p>This is a project where I demonstrate my ability to consume public APIs and display data.</p>
    <p>I am utilizing the SWAPI API to retrieve data RESTfully.</p>
    <img src="/images/SWAPI.png" alt="SWAPI" style="width:inherit" />
    <br /><br />
    <p>I have also created a sibling API to the SWAPI that maps objects with their corresponding images. I call it SWIAPI (Star Wars Images API).</p>
    <p>
        Here is an example json object for Luke Skywalker:
    </p>
    <p>
        {<br />
        &#9;"id":"5e4a33516cefdf4d00dfd979",<br />
        &#9;"name":"Luke Skywalker",<br />
        &#9;"swapiUrl":"https://swapi.co/api/people/1/",<br />
        &#9;"imageUrl":"https://vignette.wikia.nocookie.net/starwars/images/1/15/Luke_Skywalker_Ep_7_SWCT.png/revision/latest?cb=20180731193551"<br />
        }
    </p>
</div>
