@*@page "/people/{Id:int}"

@using StarWarsBlazor.Data
@using StarWarsBlazor.Data.RootObjects
@using System.Net.Http
@using Newtonsoft.Json
@inject HttpClient Http
@inject StarWarsBlazor.Services.PeopleService PeopleService

<div class="container">
    <h3>People</h3>
    @if (person == null)
    {
        <div class="w-100 my-3">
            <div class="loader mx-auto"></div>
        </div>
    }
    else
    {
        <div class="p-2">
            <input class="form-control" id="filter" type="text" @bind-value="filter" @bind-value:event="oninput" placeholder="Search...">
        </div>
        <div class="card-columns">

            <div class="card border-primary">
                <img class="card-img-top" src="@p.img_url" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@p.name</h5>
                    <p class="card-text"></p>
                    <a href="#" class="btn btn-primary">Details</a>
                </div>
            </div>

        </div>
        <button @onclick="ToggleContent">Toggle raw json</button>
        <p>@personJson</p>
    }
</div>

@code {
    private Person person;
    private string personJson = "";
    private int Id { get; set; }

    protected override void OnInitialized()
    {
        person = PeopleService.GetPerson(Id);
    }



    private void ToggleContent()
    {
        if (personJson == "")
        {
            personJson = PeopleService.GetPeopleJson();
        }
        else
        {
            personJson = "";
        }
    }
}*@
