<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="bottom: 0; height:100px; width: 100%;">
    <div class="container">
        <div style="flex: 1"></div>
        <span>Developed by: Carson Sturtevant</span>
    </div>
</nav>