@inherits LayoutComponentBase

<div class="main rubik-font">
    <div style="margin-bottom:56px;">
        <Navbar />
    </div>
    <div class="content px-4">
        @Body
    </div>
    <AppFooter />
</div>